body {
  margin: 0;
}

* {
  font-family: 'Young Serif', serif;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.shadow {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


  .fade {
    opacity: 0.5;
    filter: grayscale(1) !important;
  }
